<div>
    <h1>Bienvenue sur notre application de fitness</h1>
    <p>Obtenez un recapitulatif de votre activité physique.</p>

    <div >
        <button (click)="navigateToFitness()">Commencer</button>

        <div *ngIf="recapsHistory.length > 0">
            <h2>Votre historique</h2>
            <div>
                <h5> Exercice </h5>
                <ul>
                    <li *ngFor="let recap of recapsHistory">
                        Recap {{ recap.id }}
                        <ul>
                            <li *ngFor="let ex of recap.exercices">
                                {{ ex.Nom }} - {{ ex.Objectif }}
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>

        <div *ngIf="!connectedUser">
            <p>Veuillez vous connecter ou vous inscrire pour commencer.</p>
            <button routerLink="/login">Se connecter</button>
            <button routerLink="/register">S'inscrire</button>
        </div>

    </div>